body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #BC8F8F;
    color: #48494B;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.navbar {
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #48494B;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h1, h2 {
    color: #2a5885;
}
